<div class="intro pageWrap">
  <div class="logo">
    <img src="img/MyGolfLogo_CMYK.png" width="220" alt="">
  </div>
  <div class="options row">
    <div class="col">
      <a class="icon" href="#/manuals">
        <i class="fa fa-book"></i>
      </a>
      <h2>MANUALS</h2>
      <p>Access everything you need to run the MyGolf Schools program. Manuals contain program overview, safety points, lesson plans and game cards.</p>
    </div>
    <div class="col">
      <a class="icon" href="#/videos">
        <i class="fa fa-film"></i>
      </a>
      <h2>VIDEOS</h2>
      <p>Access instructional videos displaying all the aspects of coaching golf and how to set up and deliver the games provided in the manuals.</p>
    </div>
    <div class="col">
      <a class="icon" href="#/lessons">
        <i class="fa fa-file-text-o"></i>
      </a>
      <h2>LESSONS</h2>
      <p>Access all the lesson plans you require to deliver  programs to grade 3 through to 10 or for the MyGolf Sporting Schools program.</p>
    </div>
  </div>
</div>