<ion-view>
  <ion-nav-bar>
    <ion-nav-buttons side="primary">
      <a class="button icon ion-chevron-left" href="#/intro"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-view class="videos pageWrap">
    <ion-content>
      <div class="logo">
        <img src="img/MyGolfLogo_CMYK.png" width="220" alt="">
      </div>
      <h1>LESSONS</h1>
      <h2>GRADE 3-4</h2>
      <div class="options row">
        <div class="col">
          <a class="tile" href="#/app/grade/3-4/section/5/page/1">
            LESSON 1
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/3-4/section/5/page/2">
            LESSON 2
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/3-4/section/5/page/3">
            LESSON 3
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/3-4/section/5/page/4">
            LESSON 4
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/3-4/section/5/page/5">
            LESSON 5
          </a>
        </div>
      </div>
      <h2>GRADE 5-6</h2>
      <div class="options row">
        <div class="col">
          <a class="tile" href="#/app/grade/5-6/section/5/page/1">
            LESSON 1
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/5-6/section/5/page/2">
            LESSON 2
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/5-6/section/5/page/3">
            LESSON 3
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/5-6/section/5/page/4">
            LESSON 4
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/5-6/section/5/page/5">
            LESSON 5
          </a>
        </div>
      </div>
      <h2>GRADE 7-8</h2>
      <div class="options row">
        <div class="col">
          <a class="tile" href="#/app/grade/7-8/section/5/page/1">
            LESSON 1
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/7-8/section/5/page/2">
            LESSON 2
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/7-8/section/5/page/3">
            LESSON 3
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/7-8/section/5/page/4">
            LESSON 4
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/7-8/section/5/page/5">
            LESSON 5
          </a>
        </div>
      </div>
      <h2>GRADE 9-10</h2>
      <div class="options row">
        <div class="col">
          <a class="tile" href="#/app/grade/9-10/section/5/page/1">
            LESSON 1
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/9-10/section/5/page/2">
            LESSON 2
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/9-10/section/5/page/3">
            LESSON 3
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/9-10/section/5/page/4">
            LESSON 4
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/9-10/section/5/page/5">
            LESSON 5
          </a>
        </div>
      </div>
      <h2>SPORTING SCHOOLS</h2>
      <div class="options row">
        <div class="col">
          <a class="tile" href="#/app/grade/sporting/section/5/page/1">
            LESSON 1
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/sporting/section/5/page/2">
            LESSON 2
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/sporting/section/5/page/3">
            LESSON 3
          </a>
        </div>
        <div class="col">
          <a class="tile" href="#/app/grade/sporting/section/5/page/4">
            LESSON 4
          </a>
        </div>
      </div>
    </ion-content>
  </ion-nav-view>
</ion-view>