<ion-view>
  <ion-nav-bar>
    <ion-nav-buttons side="primary">
      <a class="button icon ion-chevron-left" href="#/intro"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-view class="videos pageWrap">
    <ion-content>
      <div class="logo">
        <img src="img/MyGolfLogo_CMYK.png" width="220" alt="">
      </div>
      <h1>VIDEOS</h1>
      <h2>INSTRUCTIONAL</h2>
      <div class="options row">
        <div class="col">
          <a class="tile" ng-click="playVideo('1. Golf Instruction - Intro.mp4')">
            INTRO
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('2. Golf Instruction - Grip.mp4')">
            GRIP
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('3. Golf Instruction - Aim &amp; Alignment.mp4')">
            AIM &amp; ALIGNMENT
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('4. Golf Instruction - Movement.mp4')">
            MOVEMENT
          </a>
        </div>
      </div>
      <div class="options row">
        <div class="col">
          <a class="tile" ng-click="playVideo('5. Golf Instruction - Posture.mp4')">
            POSTURE
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('7. Golf Instruction - Stance.mp4')">
            STANCE
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('6. Golf Instruction - Sequence (Order).mp4')">
            SEQUENCE (ORDER)
          </a>
        </div>
      </div>
      <h2>GAMES</h2>
      <div class="options row games">
        <div class="col">
          <a class="tile" ng-click="playVideo('Lawn Bowls 6.mp4')">
            LAWN BOWLS
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('Capture the Cones 6.mp4')">
            CAPTURE THE CONES
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('In the Box 6.mp4')">
            IN THE BOX
          </a>
        </div>
      </div>
      <div class="options row games">
        <div class="col">
          <a class="tile" ng-click="playVideo('Bullseye golf 6.mp4')">
            BULLSEYE GOLF
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('Chip and Catch 6.mp4')">
            CHIP AND CATCH
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('Onto the Green 6.mp4')">
            ONTO THE GREEN
          </a>
        </div>
      </div>
      <div class="options row games">
        <div class="col">
          <a class="tile" ng-click="playVideo('Over the River 6.mp4')">
            OVER THE RIVER
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('Longest Hit 6.mp4')">
            LONGEST HIT
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('Footy Golf 6.mp4')">
            FOOTY GOLF
          </a>
        </div>
        <div class="col">
          <a class="tile" ng-click="playVideo('Danger Zone 6.mp4')">
            DANGER ZONE
          </a>
        </div>
      </div>
    </ion-content>
  </ion-nav-view>
</ion-view>